<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='stylesheets/style.css')}}"
    />
    <title>Previous Days</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="{{url_for('index')}}" class="Home">Chopple</a>
        <a href="{{url_for('howToPlay')}}" class="Nav btn"> How to play</a>
        <a href="{{url_for('previousDays')}}" class="Nav btn">Previous Days</a>
      </nav>
      <section>
        <p>Coming soon</p>
      </section>
    </div>
  </body>
</html>
